{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
<!--        <table>-->
<!--            {{ form }}-->
<!--        </table>-->

        # 폼의 레이아웃을 이쁘게....
        {% bootstrap_form form %}


        <input type="submit" class="btn btn-primary" value="저장" />


    <hr>
    <a href="{% url 'instagram:post_list' %}" class="btn btn-primary">목록</a>
    {% if post %}
        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">내용으로</a>
    {% endif %}
{% endblock %}
