{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block title %}
    Instagram / Post List
{% endblock title %}

{% block content %}
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색"/>
    </form>

    <a href="{% url 'instagram:post_new' %}" class="btn btn-primary btn-block mt-3 mb-3">새 포스팅</a>
    <table class='table table-bordered table-hover'>
        <tbody>
            {% for post in post_list %}
            <tr>
                <td>
                    {{ post.pk }}
                </td>
                <td>
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" alt="" style="width:100px;">

                    {% else %}
                        No photo
                    {% endif %}
                </td>
                <td>
<!--                <a href="/instagram/{{ post.pk }}/">-->
<!--                    {{ post.message }}-->
<!--                </a>-->

<!--                URL Reverse 예제 -->
<!--                    <a href="{% url 'instagram:post_detail' post.pk %}">-->
<!--                        {{ post.message }}-->
<!--                    </a>-->

<!--                더 쉽게 사용하기 위해... 모델에서 get_absolute_url 함수를 정의 하고 템플릿(html)에서 사용한다.-->
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.message }}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>


    {% if is_paginated %}
        {% bootstrap_pagination page_obj size='small' justify_content='center' %}
    {% endif %}
{% endblock content %}



